<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WISHTREE</title>
  <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
<!-- Main Content -->
<div class="main-container">
<!-- Header -->
<th:block th:replace="~{layout/header :: header}"></th:block>

    <h1>메인 화면</h1>
    <div class="main-content">

    </div>
<!-- Footer -->
<th:block th:replace="~{layout/footer :: footer}"></th:block>

</div>

</body>
</html>